@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// @media screen and (max-width: 1200px) {
//   .ant-table {
//     &-thead > tr,
//     &-tbody > tr {
//         > th,
//         > td {
//             display: block;
//             width: auto !important;
//             border-bottom: none !important;
//             border-left: 1px solid white;
//             &:last-child {
//             border-bottom: 1px solid #EEEEEE !important;
//             }
//         }
//     }
//   }
// }

// Migrated from Tellor Dispute Center

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
@import "variables";

body {
  background: $background;
  color: var(--color-primary-2);
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

h1 {
  color: var(--color-heading);
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

// Specific Elements

.Hero {
  padding-top: 25px;
  background-color: black;
}

.View {
  width: calc(100%);
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 75px;
}

.TableHeader {
  h2 {
    margin: 0px;
    padding-left: 16px;
  }
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  a {
    margin-left: 15px;
    margin-top: 4px;
  }
}

// --- Ant Overrides ---

// Header

.ant-layout-header {
  background: var(--background);
  height: auto;
  padding: 0px 50px;
}

// Buttons

button {
  border-radius: 50px;
}

.ant-btn {
  border-radius: 50px;
  color: var(--color-primary-1);
  &:hover {
  }
  &-primary {
    color: var(--color-secondary-2);
    &:hover,
    &:focus {
      color: var(--color-secondary-2);
    }
  }
  &-default {
    background: transparent;
    &:hover,
    &:focus {
      background: var(--color-primary-5);
      color: var(--color-secondary-2);
    }
  }
  &:disabled {
    opacity: 0.25;
  }
}

// Tables

.ant-table-wrapper {
  max-width: 800px;
  width: 100%;
}

.ant-table {
  background: transparent;
  font-family: "Roboto Mono", monospace;
  table {
    border: none !important;
  }
  &:not(.expanded) {
    color: var(--color-primary-2);
  }
}

.ant-table-thead > tr > th {
  color: var(--color-table-thead);
  background: transparent;
}

tr.ant-table-expanded-row,
tr.ant-table-expanded-row:hover {
  background: transparent;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid var(--background);
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid var(--background);
  transition: all 0.3s, border 0s, color 0ms;
}

.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: rgba(153, 255, 209, 0.1);
  color: var(--color-primary-2);
}

.ant-table-row-expand-icon-cell {
  cursor: pointer;
  span {
    pointer-events: none;
    color: var(--color-primary-5);
  }
}

tr.ant-table-expanded-row > td,
tr.ant-table-expanded-row:hover > td {
  background: rgba(153, 255, 209, 0.1);
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 16px 0px;
}

// Expanded Table Row

.ant-table-tbody > tr .ant-table-wrapper:only-child .ant-table {
  margin-left: -16px;
  margin-right: -16px;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 16px 16px;
}

.ant-table-bordered .ant-table-thead > tr > th,
.ant-table-bordered .ant-table-tbody > tr > td {
  border-right: none;
}

.ant-table-expanded-row
  .ant-table-tbody
  .ant-table-row
  .ant-table-cell:last-child {
  text-align: right;
}

.ant-table-cell p {
  margin: 0;
}

.ant-table-row.expanded {
  background-color: var(--color-primary-1);
  color: #151515 !important;
  &:hover .ant-table-cell {
    color: #151515 !important;
  }
  .ant-table-row-expand-icon-cell {
    cursor: pointer;
    span {
      pointer-events: none;
      color: #151515;
    }
  }
}

// Notification

.ant-notification-notice {
  background: var(--color-secondary-2);
}

// Modal

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.85);
}

.ant-modal-content {
  background-color: var(--modal-color-background);
  p {
    font-size: 21px;
  }
}

.ant-modal-header {
  background-color: var(--modal-color-background);
  border-bottom: 1px solid var(--background);
  .ant-modal-title {
    font-size: 24px;
  }
}

.ant-modal-footer {
  background-color: var(--modal-color-background);

  .ant-btn {
    &-default {
      color: var(--modal-color-btn-default);

      &:focus,
      &:hover {
        color: var(--color-secondary-2);
      }
    }
  }
}

.ant-modal-close {
  color: var(--color-primary-1);
}

.ant-layout-content {
  background-color: var(--background-2);
}

// Responsive Adjustments

@media all and (max-width: 800px) {
  .ant-table-expanded-row
    .ant-table-tbody
    .ant-table-row
    .ant-table-cell:first-child {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ant-layout-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
